:root{
	font-size: 16px;
	font-family:"PT Sans Caption", sans-serif;
	--main-alignment: center;
	--color-primary: #000000;
	--color-secondary: #FFFFFF;
	}
	
	.header-border{
		 font-family: var(--content-font);
		 border: .20rem solid #000000;
		 text-align: var(--main-alignment);
		 font-size: 1.5rem; 
		}
		
		
		body{
			color: black;
			background-color: white;
			margin: 0;
			padding: 0;
		}
		
		body::-webkit-scrollbar{
			width: 0.25rem;
		}
		
		body::-webkit-scrollbar-track{
			background: #1e1e24;
		}
		
		body::-webkit-scrollbar-thumb{
			background: var(--color-secondary);
		}
		
		main{
			margin-left: 5rem;
			padding: 4rem;
		}
		
		.navbar{
			width: 5rem;
			height: 50vh;
			position: fixed;
			background-color: var(--color-primary);
		}
		
		.navbar-nav{
			list-style: none;
			padding: 0;
			margin: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		
		.nav-item{
			width: 100%;
		}
		
		.nav-link{
			display: flex;
			align-items: center;
			height: 5rem;
			color: var(--color-secondary);
		}
		
		.link-text:hover{
			color: gray;
		}
		
		@media only screen and (max-width:600px){
			.navbar {
				bottom: 0;
				width: 100vw;
				height: 5rem;
			}
